langgraph
langchain
langchain-openai
python-dotenv
pymupdf
pandas
sqlalchemy
psycopg2-binary
python-dotenv
pytest
pytest-cov
pytest-mock
requests
fastapi
pyjwt
uvicorn
pydantic
pwdlib
argon2-cffi
jose
passlib
bcrypt
alembic
python-multipart
reportlab
fastapi[standard]
langchain-community
langchain-text-splitters
boto3